.thumbnail{
    
}
#hiddenError{
    color:red;
    position:absolute;  
    width:100%;
    z-index:9999;
    margin-top:9%;
    display:none;
}
#red{
    color:red;

}
#topCountdown{
    margin-top: 1vh;
    margin-bottom: 1vh;
    display:flex;
}
#cdwnLeft{
    flex-direction: row;
    margin-right:-32vw;
}
#cdwnRight{
    flex-direction: row;
    margin-left:0;
}
#unskew{
    transform:skewX(-11deg)
}
#moveRight{
    margin-left: 0.5vw;
}
#moveLeft{
    margin-right: 0.5vw;
}
#max{
    width:300px;
}
#items{
    margin:auto;
    background:var(--quadrinary-color);
    padding:20px;
    padding-top:0px;
    padding-bottom:4.1vh;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
    z-index:-2;
    transform:skewX(11deg);
}
#html-data-table{
    z-index:-2;
    margin-top: 2vh;
   margin:auto;
   word-wrap: break-word;
}
#sortingtable{
    margin-bottom:2vh;
    margin: auto;
    background: var(--tertiary-color);
}
#sortingtable h2{
    margin: 3.4vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
    font-family: specMED;
    font-size:17px;
  background: var(--quadrinary-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    display:inline
}
#sortingtable form{
    line-height: 10px;
display:inline;
margin-left:-2.5vw;
transform:skewX(20deg);}
#sortingtable form input{
    padding-left:5px;
    border-radius: 15px;
    background-color: var(--pentianary-color);
    display:inline;
    color:var(--primary-color);
    border-style: solid 1 var(--pentianary-color);
}
#sortingtable #sort{
    margin-right:10vw;
}
td{
    margin-right:1vw;
    margin-left:1vw;
}
#title{
    text-align: center;
    margin-top: 0px;
    color:var(--secondary-color);
    font-family: kumar;
}
#artist{
    margin-left: 15px;
    margin-top: 0px;
    text-align: left;
    color:var(--tertiary-color);
    font-family: specMED;
}
#items  button{
    color:black;
    transform: skewX(11deg);
    font-style: oblique;
  position:absolute;
    background-color:var(--primary-color);
    font-family: specMED;
    z-index: 0;
    border:none;
    width:116.5%;
    margin-top:1vh;
    margin-left:3px;
}

h1{
    color:var(--primary-color);
    font-size:xx-large
}
#selectedItem{
    position: absolute;
    height:min-content;
    height:120%;
    width:100%;
    background: rgba(119, 37, 196, 0.288);
    z-index: 2;
}
#selectedItem button{
    z-index:2;
    margin-top:13vh;
    margin-bottom: -11vh;
    margin-left:85.5%;
    background-color: transparent;
    border:none;
    font-size:1.4em;
}
#selectedItemInner{
    margin:auto;
    margin-top:-3vh;
width:76%;
height:50%;
padding:25px;
background: var(--pentianary-color);
flex-direction: row;
display: flex;
border-radius: 25px;
}
#innerLeft{
display:flex;
flex-direction: row;
}
#innerRight{
display:flex;
flex-direction: column;
-ms-flex-align: center;
padding:40px;
}
#innerRight  #artist{
    font-size:2em;
    text-align:center;
    font-family: specMED;
}
#innerRight  #title{
    font-size:2em;
    text-align:center;
}
#votesInput{
    background: var(--quadrinary-color);
    border:none;
    color:white;
    font-family:specMED;
    text-align: center;
    font-size: 1em;
    margin-top:1vh;
    width:60%;
    margin-left: 20%;
}  
#auto{
    margin:auto;
    display:flex;
}
#votesCast{
    margin-top: 2vh;
    text-align: center;
    font-size: 1em;
    color:var(--primary-color);
}
#formVotes{
    margin-top: 2vh;
    transform:skewX(11deg);
}
#formVotes  button{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 4vh;
    font-size: 1.25em;
    font-family: kumar;
}
#description{
    font-family: specMed;
    color:white;
    text-align: center;
    font-size: 1.23em;
}
#date{
    margin-bottom: 1vh;
    color:var(--primary-color);
    font-size: 1em;
    text-align: center;
    font-family: cinzelDec;
}
#next{
    border:none;
    align-self: center;
    font-family: specMED;
    margin-left: 50%;
    transform: skewX(11deg);
    width: 50%;
    background: var(--tertiary-color);
      font-size:20px;
      font-style: oblique;

}
#prev{
    border:none;
    align-self: center;
    font-family: specMED;
    transform: skewX(11deg);
    width: 50%;
    background: var(--tertiary-color);
      font-size:20px;
      font-style: oblique;
}