
button{
  background-color: rgb(0, 179, 255);
  color:rgb(0, 0, 0);
  width: 100%;
  border: black ;
  outline: #00678f;
  height: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  font-size: 1em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #000000;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
    color:#cd4aea;
    background-color: #4d0d6e;
  }
  
  a.active {
    background-color: #c20bb6;
    color: #333;
  }
  
  a.active:hover {
    background-color: #cd4aea;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(134, 55, 223, 0.369);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* add this line */
    color:#fb00ff
  }
  
  .modal {
    background-color: #3b0f83;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .modal__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:#fb00ff
  }
  
  .modal__description {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .modal__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding:0px;
  }
  
  .modal__button {
    background-color: #57007c;
    color: #e035a7;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: -15px 20px;
    height: fit-content;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .modal__button:hover,
  .modal__button:focus {
    background-color: #4d0d6e;
    transform: scale(1.05);
  }
  
  .modal__button:active {
    background-color: #00678f;
    transform: scale(0.95);
    color:#000000;
  }

  .button{
    background-color: rgb(255, 0, 208);
    color:rgb(21, 0, 255);
    width: 100%;
    border: black ;
    outline: #00678f;
    height: 25px;
    border-radius: 25px;
    margin-bottom: 15px;
  }
  #input{
    width:200px;
    height: 2em;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 15px;
    color:#fb00ff;
    background-color: #000000;
    border: #fb00ff;
  }