@font-face {
    font-family: kumar;
    src: url(/src/assets/fonts/KumarOne-Regular.ttf);
  }
  @font-face {
    font-family: kumarOutline;
    src: url(/src/assets/fonts/kumar-one-outline/KumarOneOutline-Regular.ttf);
  }
  
  @font-face {
    font-family: specMED;
    src: url(/src/assets/fonts/spectral/Spectral-Light.ttf);
  }
  @font-face {
    font-family: cinzelDec;
    src: url(/src/assets/fonts/cinzel/Cinzel/Cinzel-Regular.ttf);
  }
  @font-face {
    font-family: cinzelBlack;
    src: url(/src/assets/fonts/cinzel/Cinzel/Cinzel-Black.ttf);
  }
  @font-face {
    font-family: cinzelReg;
    src: url(/src/assets/fonts/cinzel/Cinzel/Cinzel-Regular.ttf);
  }
  @-webkit-keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    40% {
      transform: translate(-5px, -5px);
    }
    60% {
      transform: translate(5px, 5px);
    }
    80% {
      transform: translate(5px, -5px);
    }
    to {
      transform: translate(0);
    }
  }
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    40% {
      transform: translate(-5px, -5px);
    }
    60% {
      transform: translate(5px, 5px);
    }
    80% {
      transform: translate(5px, -5px);
    }
    to {
      transform: translate(0);
    }
  }
  
  
  @keyframes glitch {
      0% {
          transform: translate(0)
      }
      20% {
          transform: translate(-5px, 5px)
      }
      40% {
          transform: translate(-5px, -5px)
      }
      60% {
          transform: translate(5px, 5px)
      }
      80% {
          transform: translate(5px, -5px)
      }
      to {
          transform: translate(0)
      }
  }
  
  :root {
  
    --gradient2: linear-gradient(89.97deg, #EB1484 1.84%, #c81cc5 102.67%);
    --primary-btn:var(--quadrinary-color);
    
    --primary-color: #f56cec;
    --secondary-color: #ecf56c;
    --tertiary-color: #6ce3f5;
    --pentianary-color: #0b0025;;
    --quadrinary-color: linear-gradient(11deg, #0f0063 10.84%, #5f0063 83%);
  
  
    --color-bg: linear-gradient(159deg, #0b0025 6.84%, #030003 83%);
    --color-card : #110b614d;
    --color-footer : var(--color-bg);
  }
  /* ===== Scrollbar CSS ===== */
    /* Firefox */
   
    #space{
      margin:auto;
      margin-bottom: .5vh;
      width:90%;
      border-top: 1px solid var(--quadrinary-color);
  
    }
    #space2{
      margin:auto;
      margin-top: .5vh;
      width:90%;
      height: 2vh;
  
    }
  